$base-color-1: #FFFFFF ;
$base-color-2: #102654;
$accent-background: #ED0233;
$gradient: linear-gradient(to right, #ED0233, #003EB7);
$accent-text: #103AAE;
$backgroud-dark: #102654;
$background-footer: #030A1A;
$element-background: transparent;
