$base-color-1: #FFFFFF ;
$base-color-2: #102654;
$accent-background: #ED0233;
$gradient: linear-gradient(to right, #ED0233, #003EB7);
$accent-text: #103AAE;
$light-text: #495A7D;
$text-shadow: #E8E8E8;
$tab-color: rgba(16, 38, 84, 0.5);
$background-light: #F8F9FC;
$background-footer: #030A1A;
$border-light: rgba(120, 120, 120, 0.2);
$element-background: transparent;
$trainer-hover: rgba(16, 38, 84, 0.89);
$trainer-hover-text: #B6BDCC;
$unit-color: #2E35AC;
$background-dark: #1C3374;
$review-shadow: rgba(28, 51, 116, 0.2);
$border-dark: #74819C;
$advantages-border-line: rgba(209, 10, 66, 0.2);
$background-image: #bfc5d1;
